[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"
autopep8 = "*"

[packages]
flask = "*"
pymongo = "*"
wheel = "*"
scrapy = "*"
numpy = "*"
spacy = "*"
underthesea = "*"
networkx = "*"
streamlit = "*"
streamlit-option-menu = "*"

[requires]
python_version = "3.10"
